<footer class="site-footer">

  <div class="wrapper">

    <div class="row">

      <div class="col-md-4 text-center">
        <ul class="contact-list">
          <li>Email</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-md-8 text-center">
        <p><a href="https://www.facebook.com/pseQuote/">PSE Quote</a></p>
        p><a href="https://www.facebook.com/HelloGensan/">HelloGensan</a></p>
      </div>

    </div>
  </div>

</footer>
