@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-right: 0px;
    margin-right: -100px;
    margin-bottom: -100px;
    padding: 0px;
    overflow-x: hidden; 
}

#glheader {
	background-color: #131f1f;
	height: 120px;
	color: #fff;
}

.clock {
	float: right;
	text-align: right;
	font-size: .5em;	
	font-family: Roboto-Thin, sans-serif;
}

#weather {
	font-size: .5em;	
	font-family: Roboto-Thin, sans-serif;
	top: 5px;
}

.temp {
	font-size: 1.5em;
}

#hclock{
	margin-bottom: 0px;
}
#hdate{
	margin-top: 0px;
	margin-bottom: 0px;
}
#hday{
	margin-top: 0px;
}

#eventshead {
	padding: 0px;
	position: relative;
	z-index: 2;
	top: -20px;
}

#events {
	height: 270px;
	position: relative;
	top: -70px;
	z-index: -98;
}

#interactive {
	height: 450px;
	position: relative;
	top: -30px;
	z-index: 1;
	overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

#ibuttons {
	text-align: center;
	height: 20px;
	position: relative;
	top: -470px;
	z-index: 3;
	font-family: Times New Roman, serif;
}
a {
    color: #000;
}
#ibuttonsbg {
	height: 30px;
	background-color: #FFF;
	opacity: .8;
	position: relative;
	top: -490px;
	z-index: 2;
	text-align: justify-all;
}
#reactions {
	margin-top: -70px;
	margin-bottom: 20px;
}
.reactionbox {
	margin-left: 5px;
	padding: 0px;
}

.slix {
	height: 100%;
	width: 100%;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.slix img {
	width: 100%;
	height: 448px;
}
#promos {
	height: 480px;
	position: relative;
	top: -50px;
	z-index: -99;
}

#promofull {
	height: 1580px;
	position: relative;
	top: -60px;
	z-index: -99;
}

.react {
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

#scale-element {
  display: block;
  max-width: 100%;
  margin: auto;
}

#scale-element.reset {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
